doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='icon' type='image/x-icon' href='/img/logo.svg')
        title= `Presta G | ${pagina}`
        link(rel="stylesheet", href="/css/app.css")
    body(class="min-h-screen bg-gray-50")
        
        div(class="h-screen")

                main(class="bg-gray-100").p-12
                    
                    block contenido

        block  scripts